* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  border: unset;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-style: normal;
  line-height: 18px;
}

body {
  display: flex;
  justify-content: center;
  padding: 50px;
}

.container {
  width: 375px;
}

header {
  background: #1b83e2;
  border-radius: 20px 20px 0 0;
}

main {
  background: #e5e5e5;
  padding: 24px;
  border-radius: 0 0 20px 20px;
}

h1 {
  font-size: 24px;
  color: #f4f4f4;
  padding: 24px;
  width: 271px;
  margin: 0 auto;
  text-align: center;
}

select {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  border-radius: 4px;
  width: 327px;
  height: 48px;
  margin-bottom: 23px;
  font-size: 16px;
  color: #555555;
  appearance: none;
  outline: none;
  padding-left: 16px;
  cursor: pointer;
}

input {
  background: #ffffff;
  border: 1px solid #bbbbbb;
  box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.15);
  border-radius: 4px;
  width: 327px;
  height: 48px;
  font-size: 16px;
  color: #555555;
  padding-left: 16px;
  outline: none;
  margin-bottom: 24px;
}

button {
  background: #1b83e2;
  border-radius: 25px;
  width: 327px;
  height: 48px;
  font-size: 16px;
  color: #f4f4f4;
  margin-bottom: 36px;
  cursor: pointer;
  outline: none;
}

button:hover {
  opacity: 0.9;
}

button:active {
  opacity: 0.5;
}

section {
  border: 1px solid #1b83e2;
  border-radius: 4px;
  text-align: center;
  font-size: 14px;
  color: #777777;
  padding: 5px;
}

#arrow {
  margin: 10px 0;
}

.values {
  font-weight: 700;
  font-size: 20px;
  color: #1b83e2;
}
